<!-- Phone 2 Screen (Details) -->
<div class="phone2">
  <div class="header">
    <span class="back-arrow">
      <!-- TODO: Insert back arrow SVG/icon -->
    </span>
    <span class="shopping-bag">
      <!-- TODO: Insert shopping bag SVG/icon -->
    </span>
  </div>
  <div class="frappuccino-img">
    <!-- TODO: Insert Frappuccino image -->
  </div>
  <div class="frappuccino-title">Caramel Frappuccino</div>
  <div class="frappuccino-price">$30.00</div>
  <div class="best-sales">Best Sales</div>
  <div class="size-options">
    <div class="size-label">Size Options</div>
    <div class="sizes">
      <span class="size">S</span>
      <span class="size selected">M</span>
      <span class="size">L</span>
      <span class="size">XL</span>
    </div>
    <div class="size-descriptions">
      <span>Small</span>
      <span>Medium</span>
      <span>Large</span>
      <span>Extra Large</span>
    </div>
  </div>
  <div class="quantity-controls">
    <button class="minus">-</button>
    <span class="quantity">1</span>
    <button class="plus">+</button>
  </div>
  <button class="add-to-order">Add to order</button>
</div>
